<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name ="viewport" content ="width=device-width,  initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
	<title>reflux</title>
    <link rel="stylesheet" href="/dist/css/base.css">
    <link rel="stylesheet" href="/dist/css/app/index.css">

  
</head>
<body>
   

   reflux
   <id id="result"></id>
<script src="/dist/js/vendor/react.js"></script>

<script src="/dist/js/app/index-reflux.js"></script>	
<script>
	console.log('index reflux page');
</script>
</body>
</html>