<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>silvia</title>
</head>
<body>
    <div id="myDiv"></div>
    <div id="test"></div>
    <div id="image-wrap">
        <img src="/dist/img/car.jpg" width="400px">
        index page test for css
    </div>
    <div id="image-wrap2">
        <img src="/dist/img/logo2.png">
    </div>
<script src="/dist/js/vendor/react.min.js"></script>
<script src="/dist/js/vendor/zepto.min.js"></script>
<script src="/dist/js/app/index.js"></script>	
<script>
	console.log('index htmp');
	console.log(React);
</script>
</body>
</html>